/* ------------       HTML block     ------------ */
html
{
    height: 100%;
}

/* ------------       BODY block     ------------ */
body
{
    padding: 0;
    margin: 0;
    min-width: 1024px;
    min-height: 600px;
    height: 100%;
    width: 100%;

    background:  url(../images/test_bg_01.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* ------------       MAIN container     ------------ */
.main
{
    max-width: 1280px;
    min-width: 1024px;
    margin: -1px auto;
    padding: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.menu_container
{
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 280px;
    left: 10px;
    display: inline-block;
    background-color: rgba(76,153,255, 0.15);
    overflow-y: auto;
}

.content_container
{
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 300px;
    display: inline-block;
    background-color: rgba(76,153,255, 0.15);
}

.logo
{
    position: absolute;
    top: 20px;
    right: 0px;
    width: 39%;
    height: 85px;
    background-color: black;
}

.title
{
    position: absolute;
    top: 80px;
    left: 30px;
    width: 500px;
    height: 60px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), #000000);
    z-index: 1;
}

.content
{
    position: absolute;
    top: 125px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    color: darkgray;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    padding: 15px 0px 5px 15px;
}

.border
{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.border--color_blue
{
    border-color: #4c99ff;
}

.border--color_black
{
    border-color: white;
}

.neon
{
    box-shadow:
    0 0 5px #4c99ff,
    inset 0 0 10px #4c99ff;
}

.main_menu_1
{
    position: absolute;
    top: 5px;
    width: 59%;
    height: 65px;
    text-align: center;

}

.menu_and_logo
{
    position: absolute;
    top: 0px;
    height: 125px;
    right: 10px;
    left: 10px;
}

.menu_btn, .forum_btn, .news_btn
{
    position: relative;
    height: 90%;
    width: 32%;
    margin-top: 2px;
    display: inline-block;
}

.text
{
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.text::after
{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
}

p {
    text-indent: 20px
}