/* ----- Main media query ----- */
@media(min-width:768px) {
    .sidebar {
        position: fixed;
        top: 57px;
        width: 255px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        z-index: 100;
        background: #181d2a;
        border-color: #3e4e56 !important;
        border-right: 1px solid;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .content {
        position: absolute;
        top: 57px;
        left: 255px;
        right: 0px;
        bottom:0px;
        overflow-y: auto;
    }

    #waterPayCodeForm .input-group-text {
        width: 160px;
    }

    #electricityMeterForm .input-group-text {
        width: 150px;
    }
}

@media(max-width: 575px) {
    #waterPayCodeForm .input-group-text {
        width: 160px;
    }

    #electricityMeterForm .input-group-text {
        width: 150px;
    }
}

@media(max-width: 575px) {
    #waterPayCodeForm .input-group-text {
        width: 160px;
    }

    #electricityMeterForm .input-group-text {
        width: 150px;
    }
}

@media(min-width: 992px) {
    #waterPayCodeForm .input-group-text {
        width: auto;
    }

    #electricityMeterForm .input-group-text {
        width: auto;
    }

}

@media (max-width: 575px), (min-width: 768px) and (max-width: 991px) {

    /* Force table to not be like tables anymore */
    #tableWaterMetersInfo table,
    #tableWaterMetersInfo thead,
    #tableWaterMetersInfo tbody,
    #tableWaterMetersInfo th,
    #tableWaterMetersInfo td,
    #tableWaterMetersInfo tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #tableWaterMetersInfo thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #tableWaterMetersInfo tr {
        border-bottom: 1px solid #ccc;
    }

    #tableWaterMetersInfo tr:last-child {
        border-bottom: none;
    }

    #tableWaterMetersInfo td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #tableWaterMetersInfo td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #tableWaterMetersInfo td:before {
        content: attr(data-title);
    }

    #tableWaterMetersInfo .meter_header {
        display: block !important;
        padding-left: 0;
        text-align: center;
        color: #fff;
    }
}

/* ----- Common blocks ----- */
html, body {
    height: 100%;
    width:100%;
    background: #1f2023;
}

hr {
    border-top: 1px solid rgba(60,90,60,.7);
}

.app-wrapper {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #383f48;
}

.bg-dark {
    background: #272c33 !important;
}

#pguLoginPasswordForm .input-group-text {
    width: 160px;
}

/* ----- App Header CSS ----- */
.header {
    border-color: #3e4e56 !important;
    border-bottom: 1px solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.img-width {
    width: 225px;
    height: 30px;
}

.navbrand-width {
    width: 255px;
}

.logo-shadow {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 1));
}

/* ----- App SideBar CSS ----- */
#sidebar ul {
    position: relative;
    width: 100%;
    padding-left: 2rem;
}

#sidebar li {
    position: relative;
    width: 100%;
}

#sidebar li a {
    display: flex;
    align-items: center;
    color: #007700;
    padding: 1rem 1rem;
    text-decoration: none;
}

#sidebar li a:hover {
    background: #343b44;
    color: #fff;
    border-radius: 0.5rem;
}

#sidebar li a.active {
    background: #2d3950;
    color: #fff ;
    border-radius: 0.5rem;
}

#sidebar li a img {
/*    height: 40px;*/
    padding-right: 10px;
}

#sidebar ul li::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: -2px;
    border-left: 2px solid #007700;
}

#sidebar ul li:first-child::before {
    top: -10px;
}

#sidebar ul li:last-child::before {
    bottom: auto;
    height: 30px;
}

#sidebar ul li a::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    top: 30px;
    border-top: 2px solid #007700;
    z-index: 1;
    left: -2px;
}

#sidebar a[aria-expanded="true"] .carret{
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(90deg) translate(0, 25%);
    -ms-transform: rotate(90deg) translate(0, 25%);
    -o-transform: rotate(90deg) translate(0, 25%);
    transform: rotate(90deg) translate(0, 25%);
}

.sub-active {
    background: #101b2d99;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.sub-active .sub-active {
    background: transparent;
}

.a_sub-active {
    background: #101b2d99;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.sub-active .a_sub-active {
    background: transparent;
}

.carret {
    position: absolute;
    right: 20px;
    opacity: .5;
    transition: all 250ms linear;
    border-color: #26c6da;
}

.shadowfilter {
    /*-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));*/
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#sidebar a:hover .shadowfilter {
     -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 255, 0, 1));
}

/* ----- Page Content ----- */
.content {
    overflow-x: hidden;
    background: #383f48;
    color: #fff;
}

#content .tab-pane {
    display: none;
}

#content .tab-pane.active{
    display: block;
}

#tableWaterMetersInfo .meter_header {
    display: none;
}

#tableWaterMetersInfo td {
    vertical-align: middle;
}
/* ----- Cards ----- */
.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #263238;
    border-color: #3e4e56;
}

.card .card-body {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

.card .card-header {
    width: max-content;
    margin-bottom: 0;
    margin-left: 1.25rem;
    padding: 0 0.25rem 0 0.25rem;
    background: linear-gradient(#383f48 35%, #263238);
    border: none;
    color: #deb887;
    font-size: 1.5rem;
    margin-top: -1rem;
}

.card .year-title-padding {
    padding-top: 0.7rem !important;
}

/* ----- Colors ----- */
table.cold td,
hr.cold {
    border-color: #26c6da;
}

table.hot td,
hr.hot {
    border-color:  #dc3545;
}

.card-title.cold,
tr.cold {
    color: #26c6da;
}

.card-title.hot,
tr.hot {
    color: #dc3545;
}

.form-control-plaintext {
    color: #609060;
}

.form-text {
    color: #deb887;
}

#tableWaterMetersInfo tbody {
    color: #609060;
}

/* ----- DropDown Button ----- */
.dropdown-custom {
    max-height: 250px;
    overflow-y: auto;
}

/* ----- Billboard.js Additional settings ----- */
.chart-container {
    border: 1px solid #3e4e56;
    background: linear-gradient(#263238, #3e4e56);
    background: -o-linear-gradient(#263238, #3e4e56);
    background: -ms-linear-gradient(#263238, #3e4e56);
    background: -moz-linear-gradient(#263238, #3e4e56);
    background: -webkit-linear-gradient(#263238, #3e4e56 );
    box-sizing: border-box;
    height: 370px;
    margin:10px;
}

.chart-container.height {
    height: 250px;
}

.bb svg {
    font: 12px sans-serif;
    -webkit-tap-highlight-color: transparent; }

.bb path, .bb line {
    fill: none;
    stroke: #fff; }

.bb-axis {
    fill: #fff;
}

.bb-grid line {
    stroke: #3e4e56;
}

.bb-grid text {
    fill: #3e4e56;
}

.bb-tooltip {
    color: #000;
}