/* ----- Main media query ----- */
@media(min-width:768px) {
    .sidebar {
        position: fixed;
        top: 57px;
        width: 255px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        z-index: 100;
        background: #181d2a;
        border-color: #3e4e56 !important;
        border-right: 1px solid;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    #content {
        margin-left: 255px;
    }
}

/* ----- Common blocks ----- */
html, body {
    position: relative;
    height: 100%;
    background-color: #383f48;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-dark {
    background: #272c33 !important;
}

/* ----- Additional Header CSS ----- */
.header {
    border-color: #3e4e56 !important;
    border-bottom: 1px solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
.img-width {
    width: 225px;
    height: 30px;
}

.navbrand-width {
    width: 255px;
}

.logo-shadow {
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 1));
}


/* ----- SideBar CSS ----- */
#sidebar ul {
    position: relative;
    width: 100%;
    padding-left: 2rem;
}

#sidebar li {
    position: relative;
    width: 100%;
}

#sidebar li a {
    display: flex;
    align-items: center;
    color: #007700;
    padding: 1rem 1rem;
    text-decoration: none;
}

#sidebar li a:hover {
    background: rgba(0,0,0,0.1);
    color: #fff;
}

#sidebar li a.active {
    background: #2d3950;
    color: #fff ;
}

#sidebar li a img {
    height: 40px;
    padding-right: 10px;
}

#sidebar ul li::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0;
    left: 2px;
    border-left: 2px solid #007700;
}

#sidebar ul li:first-child::before {
    top: -10px;
}

#sidebar ul li:last-child::before {
    bottom: auto;
    height: 35px;
}

#sidebar ul li a::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    top: 35px;
    border-top: 2px solid #007700;
    z-index: 1;
    left: 2px;
}

#sidebar a[aria-expanded="true"] .carret{
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(90deg) translate(0, 25%);
    -ms-transform: rotate(90deg) translate(0, 25%);
    -o-transform: rotate(90deg) translate(0, 25%);
    transform: rotate(90deg) translate(0, 25%);
}

.sub-active {
    /*background: rgba(62,78,86, 0.2);*/
    background: rgba(38,198,218, 0.2);
}

.sub-active .sub-active { background: transparent; }

.carret {
    position: absolute;
    right: 20px;
    opacity: .5;
    transition: all 250ms linear;
    border-color: #26c6da;
}

.shadowfilter {
    /*-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));*/
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
#sidebar a:hover .shadowfilter {
     -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 255, 0, 1));
}
