/* Some transforms */
.transition,
.transition:hover {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

#checkbox:checked + .rotate {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* Some media query */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 61px;
        width: 255px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .main {
        /*position: fixed;*/
        margin-top: 61px;
        padding-left: 255px;
        width: 100%;
        overflow-y: scroll;
    }

    .navbar-brand-width {
        min-width: 255px;
    }

    .side-nav > li a {
        width: 255px;
    }

    .svg-size {
        width: 250px;
        height: 250px;
        margin: 25px;
    }
}

@media(max-width:767px) {
    .main {
        /*position: fixed;*/
        margin-top: 51px;
        width: 100%;
        overflow-y: scroll;
    }

    .side-nav > li > a {
        width: 100%;
    }

    .svg-size {
        width: 150px;
        height: 150px;
        margin: 15px;
    }
}

/* Common objects */
html, body {
    position: relative;
    height: 100%;
    background-color: #e5e9ec;
}

.flex-container {
    display: flex;
}

.flex-vcenter {
    display: inline-flex;
    align-items: center;
}

#checkbox {
    display: none;
}

.fixed-label {
    margin: 0;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.text-green {
    color: #007700;
}

/* Top bar */
.navbar-brand {
    height: auto;
}

.navbar-header {
    flex-grow: 1;
}

.navbar-brand img {
    margin-left: 10px;
    max-height: 50px;
}

.navbar-brand h1 {
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: 300;
}

.navbar-header h1 {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

nav .navbar-toggle {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
}

.navbar-brand-padding {
    padding: 5px 5px;
}

/* Side bar */
.navbar-inverse .navbar-nav > li > a {
    color: #007700;
}

.side-nav li a:hover,
.side-nav li a:focus {
    background-color: #007700 !important;
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 10px;
    text-decoration: none;
    color: #007700;
    border-left: solid 1px #007700;
    margin-left: 28px;
}

.side-nav > li > ul > li > a:hover,
.side-nav > li > ul > li > a:focus {
    color: #fff;
}

.nav .nav-divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #007700;
}

.side-nav > a > span {
    padding-right: 10px;
}

#main {
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
}

.card {
    position: relative;
    border-radius: 0.25em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    background-color: #FFF;
    margin: 1.25rem;
    flex-grow: 5;
}

.card * {
    color: #252830;
}

.card-block {
    padding: 2rem;
}

.card-block h2 {
    margin: 0;
    margin-bottom: 1.5rem;
    color: #252830;
}

#quick-info .card-block {
    display: flex;
    flex-direction: column;
}

#quick-info .quick-stats {
    font-size: 2rem;
    line-height: 3rem;
    border-bottom: 0.1rem solid #e5e9ec;
}

#quick-info .quick-stats strong {
    font-weight: 300;
}

#quick-info .quick-stats span {
    font-weight: 300;
    float: right;
    color: #8b91a0;
}