.transition,
.transition:hover,
.transition:focus {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

html, body {
    position: relative;
    height: 100%;
    background-color: #e5e9ec;
}

.flex-container {
    display: flex;
}

.flex-vcenter {
    display: inline-flex;
    align-items: center;
}

.navbar-brand {
    height: auto;
}

.navbar-header {
    flex-grow: 1;
}

.navbar-brand img {
    margin-left: 10px;
    max-height: 50px;
}

.navbar-brand h1 {
    margin: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: 300;
}

.navbar-header h1 {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

nav .navbar-toggle {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
}

.navbar-brand-padding {
    padding: 5px 5px;
}

.text-green {
    color: #007700;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 61px;
        width: 255px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .main {
        position: fixed;
        top: 61px;
        margin-left: 255px;
        width: 100%;
    }

    .navbar-brand-width {
        min-width: 255px;
    }
}

@media(max-width:767px) {
    .main {
        position: fixed;
        top: 51px;
        width: 100%;
    }
}

.side-nav ul.nav {
    margin-top: 1rem;
}

.side-nav ul.nav a {
    color: #8b91a0;
}

.side-nav ul.nav a:hover,
.side-nav ul.nav a:focus {
    color: #FFF;
    background-color: inherit;
}

.side-nav ul.nav a .glyphicon {
    margin-right: 0.7rem;
}

.side-nav ul.nav a .glyphicon.pull-right {
    margin-top: 0.2rem;
}

.side-nav ul.nav a .badge {
    background-color: #1ca095;
}

.side-nav ul.nav .nav-divider {
    background-color: #252830;
}

.side-nav ul.nav ul {
    margin-left: 10%;
}

.side-nav ul.nav ul a {
    display: block;
    background-color: #2b303b;
    padding: 1rem;
    margin-bottom: 0.3rem;
    border-radius: 0.25em;
}

.side-nav ul.nav ul a:hover {
    text-decoration: none;
    background-color: #434857;
}